
body {
/*	background: #F2E9E4;*/
	/* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #ef32d9, #89fffd);*/
	/* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #ef32d9, #89fffd);*/
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	margin-top:100px;
	background: #1e73be;
	background: -moz-linear-gradient(top, #68eeff 0%, #1e73be 23%, #1e73be 53%, #1e73be 83%, #1e73be 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #68eeff), color-stop(23%, #1e73be), color-stop(53%, #1e73be), color-stop(83%, #1e73be), color-stop(100%, #1e73be));
background: -webkit-linear-gradient(top, #68eeff 0%, #1e73be 23%, #1e73be 53%, #1e73be 83%, #1e73be 100%);
background: -o-linear-gradient(top, #68eeff 0%, #1e73be 23%, #1e73be 53%, #1e73be 83%, #1e73be 100%);
background: -ms-linear-gradient(top, #68eeff 0%, #1e73be 23%, #1e73be 53%, #1e73be 83%, #1e73be 100%);
background: linear-gradient(to bottom, #68eeff 0%, #1e73be 23%, #1e73be 53%, #1e73be 83%, #1e73be 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e73be', endColorstr='#1e73be', GradientType=0 );

}

h1, h2, h3, h4, h5{
	color: #0f1438 !important;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #2b2e42;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.profile-pic {
	box-shadow: 0px 4px 6px 2px lightgrey;
  border-radius: 50%
}

.m-t-1 {
	margin-top:1em;
}

.p-t-1 {
	padding-top:1em;
}


.about-me {
	margin-top:25px;
}

.row-grey {
	background-color: #e0e0e0;
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;
}

.row-white {
	/*background-color: lightgrey;*/
	/*-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);*/
	/* clip-path: polygon(0 8%, 100% 4%, 100% 96%, 0% 100%); */
	background: #1e73be;
background: -moz-linear-gradient(top, #1e73be 0%, #1e93bd 23%, #1ea1be 53%, #1e93bd00 83%, #1e73be 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #1e73be), color-stop(23%, #1e93bd), color-stop(53%, #1ea1be), color-stop(83%, #1e93bd00), color-stop(100%, #1e73be));
background: -webkit-linear-gradient(top, #1e73be 0%, #1e93bd 23%, #1ea1be 53%, #1e93bd00 83%, #1e73be 100%);
background: -o-linear-gradient(top, #1e73be 0%, #1e93bd 23%, #1ea1be 53%, #1e93bd00 83%, #1e73be 100%);
background: -ms-linear-gradient(top, #1e73be 0%, #1e93bd 23%, #1ea1be 53%, #1e93bd00 83%, #1e73be 100%);
background: linear-gradient(to bottom, #1e73be 0%, #1e93bd 23%, #1ea1be 53%, #1e93bd00 83%, #1e73be 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e73be', endColorstr='#1e73be', GradientType=0 );
	padding: 65px 10px;
}

.row-white h2 a {
	color: lightgrey!important;
}

.row-footer {
/*	background-color: lightgrey;
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);*/
	padding: 65px 10px;
}

.work-item-row {
	/*padding: 10% 0;*/
}

.row-tools {
  padding: 50px 0;
}

.linkedin-btn {
	box-shadow: 0px 2px 5px 1px lightgrey;
	padding: 12px;
	border-radius: 5px;
}

.btn-launch {
	width:100%;
	max-width:200px;
	background-color: #549657;
	color:white;
	box-shadow: 0px 2px 5px 1px darkgrey;
}

.btn-launch:hover,
.btn-launch:focus {
	color: white;
	background: #3d7140;
}